<h1>All Artists</h1>
<%= link_to "Create New Artist", new_artist_path %>
<ul>
<% @artists.each do |artist| %>
  <li><%=link_to artist.name, artist_path(artist)%></li>
    <%= image_tag artist.image_path,  size: "150x150" %>
<%end%>
</ul>
